<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruleta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="roulette-container">
            <img id="wheel" src="{{ url_for('static', filename='images/wheel.png') }}" alt="Ruleta">
            <img id="pointer" src="{{ url_for('static', filename='images/pointer.png') }}" alt="Flecha">
        </div>
        <button id="spinButton">Girar</button>
        <div id="result">
            <p id="resultText"></p>
            <p id="questionText"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
